.main-container {
    background-color: rgb(145, 137, 156);
    box-sizing: border-box;
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 414/457;
    padding: 20px;
}

.pink-border {
    border: .5vw solid rgb(204, 60, 131);
}

.pink-font {
    color: rgb(206, 60, 131);
}

.timer-container {
    box-sizing: border-box;
    background: rgb(255, 174, 129);
    background: linear-gradient(0deg, rgba(255, 174, 129, 1) 0%, rgba(255, 211, 164, 1) 100%);
    width: 100%;
    aspect-ratio: 920/544;

    border-radius: 5vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: height 0.3s ease-in-out;
}

.row {
    display: flex;
    flex-direction: row;
}

.dog {
    width: 75%;
    height: 75%;
    z-index: 1;
}

.title {
    font-size: 5vw;
}

.title::before {
    content: "";
    background-image: url("./assets/rock.png");
    background-size: 7vw;
    background-repeat: no-repeat;
    width: 7vw;
    height: 7vw;
}

.title::after {
    content: "";
    background-image: url("./assets/rock.png");
    background-size: 7vw;
    background-repeat: no-repeat;
    width: 7vw;
    height: 7vw;
}

.timer-box {
    background-color: rgb(255, 231, 207);
    aspect-ratio: 826/262;
    width: 90%;
    border-radius: 5vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15vw;
}

.button-bar {
    justify-content: space-around;
    width: 100%;
}

.button {
    box-sizing: border-box;
    aspect-ratio: 275/110;
    width: 30%;
    border-radius: 2vw;
    font-size: 5vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button:nth-child(1) {
    background-color: rgb(255, 180, 222)
}

.button:nth-child(1):hover {
    background-color: rgb(245, 211, 231)
}

.button:nth-child(2) {
    background-color: rgb(198 ,236, 255);
}

.button:nth-child(2):hover {
    background-color: rgb(221, 239, 248);
}

.set-button {
    background-color: rgb(198, 236, 255);
    width: 10%;
    height: 50%;
    font-size: 2vw;
}

.set-button:hover {
    background-color: rgb(221, 239, 248);
}

.disable-text-select {
    user-select: none;
    -webkit-user-select: none;
    /*Safari*/
    -moz-user-select: none;
    /*Firefox*/
}

.dropdown-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 3%;
    transition: height 0.5s ease-in-out;
}

.dropdown-header:hover {
    height: 30%;
}

.dropdown-header:hover > .dropdown-menu {
    height: 100%;
}


.dropdown-menu {
    height: 0%;
    width: 100%;
    transition: height 0.3s ease-in-out;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown-row {
    display: flex;
}

.setting-row {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 30%
    margin-right: 5%;
}

.setting-row:nth-child(1) {
    margin-right: 5%;
}

.setting-row input[type=text] {
    border-radius: 6px;
    padding: 10px;
    border: 0px;
}

.setting-row label {
    margin-bottom: 5px;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}